.res {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px auto;
  background-color: red;

}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
}