div {
  width: 100px;
  height: 100px;
  background-color: #545899;
}

div:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}