.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr) );
  grid-column-gap: 30px; /* Espaço entre colunas */
  grid-row-gap: 30px; /* Espaço entre as linhas da colunas */
}

.item {
  padding: 30px;
  font-size: 20px;
  background-color: #00ff00;
  border-radius: 10px;
  color: #fff;
}