.container {
  background: #ccc;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*
  grid-column-gap: 30px; /* Espaço entre colunas 
  grid-row-gap: 30px;  Espaço entre as linhas da colunas 
  */
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.item {
  padding: 30px;
  font-size: 20px;
  background-color: #00ff00;
  border-radius: 10px;
  color: #fff;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item2 {
  grid-row-start: 2;
  grid-row-end: 7;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 5;
}

.item6{  
  grid-column-start: 2;
  grid-column-end: 3;
}

.item7 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.item8 {
  grid-column-start: 1;
  grid-column-end: 4;

  
}