.container {
  background: #ccc;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3,200px);
  /*
  grid-column-gap: 30px; /* Espaço entre colunas 
  grid-row-gap: 30px;  Espaço entre as linhas da colunas 
  */
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-content: center;
}

.item {
  padding: 30px;
  font-size: 20px;
  background-color: #00ff00;
  border-radius: 10px;
  color: #fff;
}