* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding: 20px;
  border: 1px solid #FF4500;
}

header .container a span{
  font-size: 18px;
  line-height: 3.1;
  padding-left: 15px;
  padding-right: 10px;
 /* border: 1px solid #ff0000;*/
}

header .container a {
  color: #292929;
  text-decoration: none;
}

header .container a:hover {
  color: #000;
  text-decoration: underline;
}

header .container a img {
  width:23px;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
 /* border: 1px solid #00ff00; */
}

header .container a .photo_gmail {
  width: 45px;
  margin: 0;
  margin-top: 2px;
  margin-right: 15px;
  border-radius: 50%;
}








#google_principal .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

}

#google_principal .container div img {
  width: 450px;
  height: 150px;
}

#google_principal .container div input {
  font-size: 20px;
  width: 950px;
  margin-top: 50px;
  padding: 22px;
  border-radius: 40px;
  border: 1px solid #ccc;
}

#google_principal .container div .button {
  margin: 0 auto;
}

#google_principal .container div button{
  color: #5F6368;
  font-size: 22px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #f2f2f2;
  opacity: 0.8
}

#google_principal .container div button:hover{ 
  border: 1px solid #9f9b9e;
  color:#202020;
  background: #f8f8f8;
}

.btn {
  margin-left: 27%;
  margin-right: 50px;
}